<loading *ngIf="loadedFlag">{{ isLoading }}</loading>
<div *ngIf="!loadedFlag">
  <div class="col-lg-12 col-lg-offset-2" style="padding-top: 30px;">
    <span>Books</span>&nbsp;&nbsp;
    <select [(ngModel)]="selectedBook" (change)="onSelected($event)">
      <option>Select</option>
      <option *ngFor="let item of bookList;let i = index" value="{{item.id}}" [selected]="i==0" [ngValue]="item.id">
        {{item.name}}
      </option>
    </select>

    <span>Chapter</span>&nbsp;&nbsp;
    <select [(ngModel)]="selectedChapter" (change)="onSelectedChapter($event)">
      <option>Select</option>
      <option *ngFor="let chapter of updatedChapter;let i = index" value="{{chapter.id}}" [selected]="i==0"
        [ngValue]="chapter.id">
        {{chapter.name}}
      </option>
    </select>
    <button class="btn button" (click)="searchSymptom()">Search</button>
  </div>
</div>
<div style="text-align:center" [hidden]="showTableFlag" >
  <!--<input (input)="onInputChange($event)" class="input" value={{filterString}}
    placeholder="Tap on the virtual keyboard to start" [(ngModel)]="filterString" />
  <div class="simple-keyboard"></div>-->
<app-alphabet-pad></app-alphabet-pad>
  <button class="btn button" (click)="addtoList()">Record</button>
  <button class="btn button" (click)="showTable()">Repertorize</button>
</div>


<!-- <div class="container"><h2>Example 3 </h2></div> -->
<div [hidden]="!showTableFlag">

  <button class="btn button" (click)="showTableFlag = false">Back</button>
  <div class="outer">
    <div class="inner">
      <table>
        <tr>
          <th class=fix></th>
          <ng-container *ngFor="let medicine of newDrugsList;">
            <th *ngFor="let med of medicine;">
              {{med.name}}
            

            </th>
          </ng-container>
          <!-- <th>Col 2</th>
          <th>Col 3</th>
          <th>Col 4</th>
          <th class="fix">Col 5</th> -->
        </tr>
        <tr *ngFor="let medicine1 of medicineList;let indexOfelement=index;">
          <th class="fix">{{selectedBookName}} : {{selectedChapterName}} : {{medicine1._symptom}}</th>
          <ng-container *ngFor="let symptoms of drugLevelLists;">
            <ng-container *ngIf="symptoms.length > 0">
              <td *ngFor="let symptom of symptoms">
                <!-- <span *ngIf="symptom.symptomId != medicine1.id">
                  0
                </span> -->
            
                {{(symptom.symptomId != medicine1._id)? '0' : symptom.drugLevel}}
              </td>
            </ng-container>
      
        
          </ng-container>
          <!-- <td></td>
          <td></td>
          <td>col 4 - A</td>
          <td class=fix>col 5 - A</td> -->
        </tr>
        <!-- <tr>
          <th class=fix>Header B</th>
          <td>col 1 - B</td>
          <td>col 2 - B</td>
          <td>col 3 - B</td>
          <td>col 4 - B</td>
          <td class=fix>col 5 - B</td>
        </tr>
        <tr>
          <th class=fix>Header C</th>
          <td>col 1 - C</td>
          <td>col 2 - C</td>
          <td>col 3 - C</td>
          <td>col 4 - C</td>
          <td class=fix>col 5 - C</td>
        </tr> -->
      </table>
    </div>
  </div>
</div>
<div id="exTab3" class="tab-container" [hidden]="loadedFlag || showTableFlag">

  <!-- <div> -->
  <!-- <ul class="nav nav-pills readable-tabs">
        <li [ngClass]="!toggle ? 'active' : ''">
          <a  data-toggle="tab" (click)="onCPSelect('ce')">CE</a>
        </li>
      </ul> -->
  <div class="col-lg-12" style="display: inline-flex;
        width: 100%;">
    <div class="tab-content clearfix col-lg-6">
      <div class="tab-pane active" id="1b" *ngIf="toggle">
        <ul class="tree" *ngIf="childList.length > 0">
          <li *ngFor="let item of (childList | filter: filterString)">
            <span class="badge" (click)="onSelect(item)"> {{item._symptom}}</span>

            <ul *ngIf="item.children.length > 0">
              <ng-container *ngFor="let item2 of item.children;">
                <li style="color: green;">
                  <span class="badge" (click)="onSelect(item2)"> {{item2._symptom}}</span>


                  <ul *ngIf="item2.children.length > 0">
                    <ng-container *ngFor="let item3 of item2.children;">
                      <li style="color: red;">
                        <span class="badge"  (click)="onSelect(item3)"> {{item3._symptom}}</span>

                        <!-- <span *ngIf="item1 == item2.parent">
                    {{item2.symptom}}
                  </span> -->
                      </li>
                    </ng-container>

                  </ul>
                </li>
              </ng-container>

            </ul>
          </li>
          <!-- <li>10 objects
                <ul>
                 <li>4 Type a
                 </li>
                 <li>4 Type b
                 </li>
                 <li>4 Type c
                 </li>
                </ul>
               </li> -->

        </ul>
      </div>
      <!-- <div class="tab-pane" id="2b" *ngIf="toggle"[ngClass]="toggle ? 'active' : ''">
            <ul class="tree">
              <li *ngFor="let item of clinSymptoms" (click)="onSelect(item)">
                <span class="badge">{{item.expr}}</span>
              </li>
              
            </ul>
          </div> -->
    </div>
    <div class="col-lg-6 selected-tab-content">
      <!-- <div> -->

      <ul *ngIf="updateddrugList.length > 0">
        <!-- <ng-container *ngFor="let sympList of symptomListID;"> -->
          <ng-container *ngFor="let drug of updateddrugList;">
            <li style="text-align: left;">
              <span class="badge"> {{drug.name}}</span>

              <!-- <span *ngIf="item1 == item2.parent">
                  {{item2.symptom}}
                </span> -->
            </li>
          </ng-container>
        <!-- </ng-container> -->
      </ul>
      <!-- </div> -->
    </div>
  </div>
  <!-- 
    </div> -->



</div>